<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
	<tr>
		<th>name</th>
		<td><%= user.name %></td>
	</tr>
	<tr>
		<th>introduction</th>
		<td><%= user.introduction %></td>
	</tr>
	<tr>
		<th>follows</th>
		<td>
			<%= link_to follows_path(user) do %>
				<%= user.follower.count %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th>followers</th>
		<td>
			<%= link_to followers_path(user) do %>
				<%= user.followed.count %>
			<% end %>
		</td>
	</tr>
</table>

<div class="row">
	<% if user != current_user %>
		<% if current_user.following?(user) %>
			<div class="follow_out_btn">
				<%= link_to  "フォロー外す", unfollow_path(user.id), method: :delete %>
			</div>
		<% else %>
			<div class="follow_btn">
				<%= link_to "フォローする", follow_path(user.id), method: :post %>
			</div>
		<% end %>
	<% end %>
	
	<div class="edit_user">
		<%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
</div>